{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Our Vehicles</h1>
    <p>Discover PARAMI AML vehicles powered by our built-in AI model.</p>
    <div class="card-grid">
        <div class="card">
            <img src="{{ url_for('static', filename='Images/image3.jpg') }}">
            <h4>Self Driving Cars</h4>
            <p>Premium autonomous self-driving cars for daily transit.</p>
            <p><strong>Price: 89,999 USD</strong></p>
            <button class="btn btn-blue">Reserve Now</button>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='Images/image4.jpg') }}">
            <h4>Self-Driving Delivery</h4>
            <p>Automated self-driven delivery solutions for your grab.</p>
            <p><strong>Price: 499 USD </strong></p>
            <button class="btn btn-orange">Contact Sales</button>
        </div>
    </div>
</div>
{% endblock %}